services:
  postgres:
    image: postgres:15-alpine
    container_name: shortener-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  adminer:
    image: adminer:latest
    container_name: shortener-adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  backend:
    image: node:20-alpine
    container_name: shortener-backend
    working_dir: /app
    volumes:
      - ./back:/app
    command: sh -c "npm install && npm run dev"
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      PORT: 3000
      NODE_ENV: development
    depends_on:
      - postgres
    restart: unless-stopped

  frontend:
    image: node:20-alpine
    container_name: shortener-frontend
    working_dir: /app
    volumes:
      - ./front:/app
    command: sh -c "npm install && npm run dev"
    ports:
      - "3001:3000"
    environment:
      NEXT_PUBLIC_BACKEND_URL: http://localhost:3000
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  postgres_data:
